@import url('https://fonts.googleapis.com/css?family=Bad+Script|Roboto|Material+Icons');

:root {
  --transition_duration: 1200ms;
  --transition_duration_slow: 9000ms;
  --ease_out_quint: cubic-bezier(0.23, 1, 0.32, 1);
  --cascade_interval: 150ms;
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', arial, sans-serif, serif;
  background-image: radial-gradient(rgba(123, 123, 123, 0.08) 1px, transparent 1px);
  background-size: 14px 14px;
}

.bad-script-font {
  font-family: 'Bad Script', cursive;
}

.text-dark-blue {
  color: #192bc2;
}

.text-light-green {
  color: #53dd6c;
}

.custom-btn {
  padding: 10px 0px;
	min-width: 180px;
	height: auto;
	outline: none;
	border-radius: 4px;
	color: #ffffff;
  font-size: 1.2em;
	font-weight: 700;
	transition: all .4s;
}

.custom-btn:hover {
  transform: scale(1.1);
}

#menu {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: 0%;
  max-height: 100vh;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .95);
  overflow-y: hidden;
  transition: .4s;
}

#menu .menu-links {
  position: relative;
  top: 15%;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

#menu a {
  display: block;
  padding: 8px;
  color: #192bc2;
  font-size: 3.2em;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.4s;
}

#menu a:hover,
#menu a:focus {
  transform: scale(1.1);
}

#menu .close-btn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#page {
  display: none;
}

.container {
  height: inherit;
}

.not-allowed {
  cursor: not-allowed;
}

#home {
  position: relative;
  background: url('images/dark-code-bg.png') no-repeat center;
  background-size: cover;
}

.navbar-brand {
  font-size: 2em;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
  color: #fff !important;
  transition: all .4s;
}

.navbar-toggler:hover {
  background-color: rgba(255, 255, 255, .05);
}

.navbar-toggler i {
  vertical-align: middle;
  font-size: 1.8em;
}

.title {
  color: #ffffff;
  font-size: 3.2em;
  font-weight: 700;
}

.subtitle {
  color: #ffffff;
  font-size: 1.8em;
  margin-bottom: 48px;
}

.btn-CTA {
	border: 3px solid #ffffff;
	background-color: #ffffff;
    color: #192bc2;
}

.btn-CTA-secondary {
  border: 3px solid #ffffff;
  background-color: transparent;
}

.btn-CTA-secondary:hover {
  background-color: #ffffff;
  color: #192bc2;
}

.flex-with-gap {
  display: flex;
  grid-gap: 16px;
}

#home #top-navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

#home .jumbotron {
  width: 100%;
}

#home .social-icons {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.social-icons li.nav-item a.nav-link {
  font-size: 1.5em;
}

.btn-demo {
  border: 3px solid #192bc2;
  background-color: transparent;
  color: #192bc2;
}

.btn-demo:hover {
  background-color: #192bc2;
  color: #ffffff;
}

.btn-submit {
  border: 3px solid #ffffff;
  background-color: transparent;
}

.btn-submit:hover {
  background-color: #ffffff;
  color: #192bc2;
}

.section {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
}

.section-title {
  padding-top: 1.8em;
  font-size: 2.8em;
  font-weight: 700;
}

.project-title {
  color: #000000;
  font-size: 2.4em;
}

#bio-container {
  color: rgba(255 255 255 / .78);
}

#bio-container .lead {
  color: #ffffff;
  opacity: 1;
}

#bio-container small {
  display: block;
  margin-bottom: 16px;
}

/* Responsive style to maintain 16:9 aspect ratio on YouTube video */
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
	height: 100%;
}

#about {
  background-color: #000122;
}

.img-fluid {
  border-radius: 8px;
}

.skill-card {
  padding: 20px 30px;
  width: 100%;
  height: auto;
  box-shadow: 8px 15px 25px rgba(0, 0, 0, .2);
  border-radius: 8px;
  background-color: #ffffff;
}

.skill-card p {
  font-size: 1.2em;
  font-weight: 700;
}

.why-work-icons {
  font-size: 4em;
}

#testimonials p.lead {
  font-size: 2em;
  font-weight: 600;
}

.blockquote-footer cite {
  color: #53dd6c;
}

.slick-dots li button:before {
  color: #192bc2;
  font-size: 12px;
  opacity: 1;
  transition: all .2s;
}

.slick-dots li.slick-active button:before {
  color: #192bc2;
  font-size: 20px;
  opacity: 1;
}

#contact {
  position: relative;
  background-color: #192bc2;
}

#contact .section-title {
  padding-top: 0px;
}

#contact .copyright-text {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

#contact .social-icons {
  position: absolute;
  margin: 0 auto;
  bottom: 40px;
  right: 0;
}

/* Forms */
.custom-input {
  border: 3px solid #ffffff;
  border-radius: 0px;
  background-color: transparent;
  color: #ffffff;
  transition: all .6s;
}

input.custom-input::placeholder {
  color: #ffffff;
}

.custom-input:focus {
  border-color: #ffffff;
}

.btn-contact {
  margin: 30px auto;
  width: 320px;
  height: auto;
  box-shadow: 8px 8px 25px rgba(0, 0, 0, .1);
  font-weight: 400;
}

.btn-contact:hover {
  color: #ffffff;
}

#quote-btn {
  background-color: #53dd6c;
}

#facebook-btn {
  background-color: #3b5998;
}

#linkedin-btn {
  background-color: #0077b5;
}

#email-btn {
  background-color: #02010a;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  #contact .copyright-text {
    position: absolute;
    bottom: 10px;
    width: auto;
    left: 30px;
  }

  #contact .social-icons {
    position: absolute;
    bottom: 20px;
    right: 30px;
  }

}

.animate {
  display: block;
  transition-duration: var(--transition_duration);
  transition-timing-function: var(--ease_out_quint);
}

.animate.fadein-up {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
}

.animate.fadein-down {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}

.animate.fadein-scale1 {
  opacity: 0;
  transform: scale(0.7);
}

.animate.show {
  opacity: 1;
}

.animate.show[data-cascade-slow] {
  transition-duration: var(--transition_duration_slow);
}

.animate.show.fadein-up,
.animate.show.fadein-down {
  transform: translate3d(0, 0, 0);
}

.animate.show.fadein-scale1 {
  transform: scale(1);
}

/* Transition delays from 0 to 20 */
.animate.show[data-animation-delay="0"] { transition-delay: calc(var(--cascade_interval) * 0); }
.animate.show[data-animation-delay="1"] { transition-delay: calc(var(--cascade_interval) * 1); }
.animate.show[data-animation-delay="2"] { transition-delay: calc(var(--cascade_interval) * 2); }
.animate.show[data-animation-delay="3"] { transition-delay: calc(var(--cascade_interval) * 3); }
.animate.show[data-animation-delay="4"] { transition-delay: calc(var(--cascade_interval) * 4); }
.animate.show[data-animation-delay="5"] { transition-delay: calc(var(--cascade_interval) * 5); }
.animate.show[data-animation-delay="6"] { transition-delay: calc(var(--cascade_interval) * 6); }
.animate.show[data-animation-delay="7"] { transition-delay: calc(var(--cascade_interval) * 7); }
.animate.show[data-animation-delay="8"] { transition-delay: calc(var(--cascade_interval) * 8); }
.animate.show[data-animation-delay="9"] { transition-delay: calc(var(--cascade_interval) * 9); }
.animate.show[data-animation-delay="10"] { transition-delay: calc(var(--cascade_interval) * 10); }
.animate.show[data-animation-delay="11"] { transition-delay: calc(var(--cascade_interval) * 11); }
.animate.show[data-animation-delay="12"] { transition-delay: calc(var(--cascade_interval) * 12); }
.animate.show[data-animation-delay="13"] { transition-delay: calc(var(--cascade_interval) * 13); }
.animate.show[data-animation-delay="14"] { transition-delay: calc(var(--cascade_interval) * 14); }
.animate.show[data-animation-delay="15"] { transition-delay: calc(var(--cascade_interval) * 15); }
.animate.show[data-animation-delay="16"] { transition-delay: calc(var(--cascade_interval) * 16); }
.animate.show[data-animation-delay="17"] { transition-delay: calc(var(--cascade_interval) * 17); }
.animate.show[data-animation-delay="18"] { transition-delay: calc(var(--cascade_interval) * 18); }
.animate.show[data-animation-delay="19"] { transition-delay: calc(var(--cascade_interval) * 19); }
.animate.show[data-animation-delay="20"] { transition-delay: calc(var(--cascade_interval) * 20); }
