/* Extra small devices (portrait phones, less than 576px) */

@import url('https://fonts.googleapis.com/css?family=Bad+Script|Roboto|Material+Icons');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', arial, sans-serif, serif;
}

.bad-script-font {
  font-family: 'Bad Script', cursive;
}

.text-dark-blue {
  color: #192bc2;
}

.text-light-green {
  color: #53dd6c;
}

.custom-btn {
  padding: 10px 0px;
	min-width: 180px;
	height: auto;
	outline: none;
	border-radius: 0px;
	color: #ffffff;
  font-size: 1.2em;
	font-weight: 700;
	transition: all .4s;
}

.custom-btn:hover {
  transform: scale(1.1);
}

#menu {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: 0%;
  max-height: 100vh;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .95);
  overflow-y: hidden;
  transition: .4s;
}

#menu .menu-links {
  position: relative;
  top: 15%;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

#menu a {
  display: block;
  padding: 8px;
  color: #192bc2;
  font-size: 3.2em;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.4s;
}

#menu a:hover,
#menu a:focus {
  transform: scale(1.1);
}

#menu .close-btn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#page {
  display: none;
}

.container {
  height: inherit;
}

#home {
  position: relative;
  background: url('images/dark-code-bg.png') no-repeat center;
  background-size: cover;
}

.navbar-brand {
  font-size: 2em;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
  color: #fff !important;
  transition: all .4s;
}

.navbar-toggler:hover {
  background-color: rgba(255, 255, 255, .05);
}

.navbar-toggler i {
  vertical-align: middle;
  font-size: 1.8em;
}

.title {
  color: #ffffff;
  font-size: 3.2em;
  font-weight: 700;
}

.subtitle {
  color: #53dd6c;
  font-size: 1.8em;
}

.btn-CTA {
	border: 3px solid #ffffff;
	background-color: transparent;
}

.btn-CTA:hover {
  background-color: #ffffff;
  color: #53dd6c;
}

#home #top-navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

#home .jumbotron {
  width: 100%;
}

#home .social-icons {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.social-icons li.nav-item a.nav-link {
  font-size: 1.5em;
}

.btn-demo {
  border: 3px solid #192bc2;
  background-color: transparent;
  color: #192bc2;
}

.btn-demo:hover {
  background-color: #192bc2;
  color: #ffffff;
}

.btn-submit {
  border: 3px solid #ffffff;
  background-color: transparent;
}

.btn-submit:hover {
  background-color: #ffffff;
  color: #192bc2;
}

.section {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
}

.section-title {
  padding-top: 1.8em;
  font-size: 2.8em;
  font-weight: 700;
}

.project-title {
  color: #000000;
  font-size: 2.4em;
}

#bio-container p {
  color: #ffffff;
}

/* Responsive style to maintain 16:9 aspect ratio on YouTube video */
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
	height: 100%;
}

#about {
  background-color: #000122;
}

.skill-card {
  padding: 20px 30px;
  width: 100%;
  height: auto;
  box-shadow: 8px 15px 25px rgba(0, 0, 0, .2);
  background-color: #ffffff;
}

.skill-card p {
  font-size: 1.2em;
  font-weight: 700;
}

.why-work-icons {
  font-size: 4em;
}

#testimonials p.lead {
  font-size: 2em;
  font-weight: 600
}

.blockquote-footer cite {
  color: #53dd6c;
}

.slick-dots li button:before {
  color: #192bc2;
  font-size: 12px;
  opacity: 1;
  transition: all .2s;
}

.slick-dots li.slick-active button:before {
  color: #192bc2;
  font-size: 20px;
  opacity: 1;
}

#contact {
  position: relative;
  background-color: #192bc2;
}

#contact .section-title {
  padding-top: 0px;
}

#contact .copyright-text {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

#contact .social-icons {
  position: absolute;
  margin: 0 auto;
  bottom: 40px;
  right: 0;
}

/* Forms */
.custom-input {
  border: 3px solid #ffffff;
  border-radius: 0px;
  background-color: transparent;
  color: #ffffff;
  transition: all .6s;
}

input.custom-input::placeholder {
  color: #ffffff;
}

.custom-input:focus {
  border-color: #ffffff;
}

.btn-contact {
  margin: 30px auto;
  width: 320px;
  height: auto;
  box-shadow: 8px 8px 25px rgba(0, 0, 0, .1);
  font-weight: 400;
}

.btn-contact:hover {
  color: #ffffff;
}

#quote-btn {
  background-color: #53dd6c;
}

#facebook-btn {
  background-color: #3b5998;
}

#linkedin-btn {
  background-color: #0077b5;
}

#email-btn {
  background-color: #02010a;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  #contact .copyright-text {
    position: absolute;
    bottom: 10px;
    width: auto;
    left: 30px;
  }

  #contact .social-icons {
    position: absolute;
    bottom: 20px;
    right: 30px;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {



}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {



}
