
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: $body-text-color;
    font-family: $font--primary;
    font-size: 16px;
}

::selection {
    background: $brand-color--primary;
}