
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    //scrollbar-width: auto;
    // scrollbar-width: thin;
    //scrollbar-color: rgba(240, 77, 78, 0.6) $bg-color;
}

*::-webkit-scrollbar {
    // width: 7px;
    width: 17px;
}

*::-webkit-scrollbar-track {
    background: $bg-color;
    //background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);

    &:hover {
        background-color: rgba(255, 255, 255, 0.6);
        @include transitions-ease(0.4s);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.5);
    }
}


body {
    background-color: $bg-color;
    color: $body-text-color;
    font-family: $font--primary;
    font-size: 16px;
}

::selection {
    background: $brand-color--primary;
}

.h2 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2.250em;
}