
/** Breakpoints */

$mobile-max-width:          767px;
$mobile-large-min-width:    576px;  // xs    =>  lm
$tablet-min-width:          768px;  // sm    =>  tbl
$small-laptop-min-width:    1025px; // md   => smlpt
$laptop-min-width:          1200px; // lg   => lpt
$small-desktop-min-width:   1441px; // xl   => smdsk
$desktop-min-width:         1650px; // xxl  => lgdsk


$page-breakpoints       : (
    mobile              : (
                            classId: null,
                            min-width: 0px,
                            max-width: $mobile-max-width,
                            // base-font: 16px,
                            // TODO: add base fonts somewhere
    ),
    large-mobile        : (
                            classId: "lm",
                            min-width: $mobile-large-min-width,
                            max-width: $mobile-max-width,
    ),
    tablet              : (
                            classId: "tbl",
                            min-width: $tablet-min-width,
                            max-width: null,
    ),
    small-laptop        : (
                            classId: "smlpt",
                            min-width: $small-laptop-min-width,
                            max-width: null,
    ),
    laptop              : (
                            classId: "lpt",
                            min-width: $laptop-min-width,
                            max-width: null,
    ),
    small-desktop       : (
                            classId: "smdsk",
                            min-width: $small-desktop-min-width,
                            max-width: null,
    ),
    desktop             : (
                            classId: "lgdsk",
                            min-width: $desktop-min-width,
                            max-width: null,
    )
) !default;
