
.btn {
    outline: none;
    border: none;
    min-width: 160px;
    min-height: 50px;
    border-radius: 28px;
    font-size: 1.125em;

    &--primary {
        background-color: $brand-color--primary;
        color: $color--black;
    }

    &--outlined {

    }
}