

/* Margin & Padding */
$spacing-shortcuts      : ("margin": "m", "padding": "p") !default;
$spacing-directions     : (
    "top": "t",
    "right": "r", 
    "bottom": "b",
    "left": "l"
) !default;
$spacing-horizontal     : "x" !default;
$spacing-vertical       : "y" !default;

$spacing-values         : (
    "auto": auto,
    "0": 0,
    "1": 0.25rem,
    "2": 0.50rem,
    "3": 0.75rem,
    "4": 1.00rem,
    "5": 1.25rem,
    "6": 1.50rem,
    "7": 1.75rem,
    "8": 3.00rem,
    "9": 4.00rem,
    "10": 5.00rem,
    "11": 6.00rem,
    "12": 7.00rem,
    "13": 8.00rem,
    "14": 9.00rem,
    "15": 10.00rem,
    "16": 11.00rem,
    "17": 12.00rem,
    "18": 13.00rem,
    "19": 14.00rem,
    "20": 15.00rem,
) !default;



// Dynamically create margin / padding rules
@each $property, $shortcut in $spacing-shortcuts {
    @each $name, $value in $spacing-values {
        // All directions
        .#{$shortcut}-#{$name} {
            #{$property}: $value !important;
        }

    // Create styles for each breakpoint and cardinal direction
    // If sm or mobile, don't add a suffix
    @each $direction, $suffix in $spacing-directions {
        @each $breakpoint, $map in $page-breakpoints {
            $id: map-get($map, classId);
            $min-width: map-get($map, min-width);
            // $max-width: map-get($map, max-width);

            @if $breakpoint == mobile {
                .#{$shortcut}#{$suffix}-#{$name} {
                    #{$property}-#{$direction}: $value !important;
                }
            }
                @else {
                    @media (min-width: #{$min-width}) {
                        .#{$shortcut}#{$suffix}-#{$id}-#{$name} {
                            #{$property}-#{$direction}: $value !important;
                        }
                    }
                }
        }
    }

    // Horizontal axis
    @if $spacing-horizontal != null {
        .#{$shortcut}#{$spacing-horizontal}-#{$name} {
            #{$property}-left: $value !important;
            #{$property}-right: $value !important;
        }
    }

        // Vertical axis
        @if $spacing-vertical != null {
            .#{$shortcut}#{$spacing-vertical}-#{$name} {
                #{$property}-top: $value !important;
                #{$property}-bottom: $value !important;
            }
        }
    }
}
