



$brand-color--primary:      #B65296;
$brand-color--secondary:    #6FCEDC;

$color--white:              #ffffff;
$color--black:              #000000;




$bg-color:                  #140033;
$body-text-color:           rgba(255, 255, 255, 0.78);



$font--primary:             'Roboto', sans-serif;
$font--secondary:           'Black Han Sans', sans-serif;
$font--tertiary:            'IBM Plex Sans Condensed', sans-serif;